{% extends "base.html" %}
{% block title %} - Novo atendimento{% endblock %}

{% block content %}
    <div id="content" class="colM">
        <h1>Meus atendimentos</h1>
        {% if atendimentos %}
            <div id="content-main">
                <table>
                    <tr>
                        <th>Médico</th>
                        <th>CRM</th>
                        <th>Data</th>
                        <th>Horario</th>
                    </tr>
                    {% for atendimento in atendimentos %}
                        <tr>
                            <td>{{ atendimento.medico.nome }}</td>
                            <td>{{ atendimento.medico.crm }}</td>
                            <td>{{ atendimento.data }}</td>
                            <td>{{ atendimento.horario }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            Você não possui nenhum atendimento!
        {% endif %}
        <br class="clear" />
    </div>
    <div id="footer"></div>
{% endblock %}