{% extends "base.html" %}
{% block title %} - Novo atendimento{% endblock %}

{% block content %}
    <div id="content" class="colM">
        <h1>Meus atendimentos</h1>
        <div id="content-main">
            <table>
                <tr>
                    <th>Médico</th>
                    <th>CRM</th>
                </tr>
                {% for atendimento in atendimentos %}
                    <tr>
                        <td>{{ atendimento.medico.nome }}</td>
                        <td>{{ atendimento.medico.crm }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <br class="clear" />
    </div>
    <div id="footer"></div>
{% endblock %}