{% extends "base.html" %}
{% block title %} - Novo atendimento{% endblock %}

{% block jquery %}
    <script>
        var proc_count = {{ proc_count }};
        var doenca_count = {{ doenca_count }};

        var procedimentos = [
            {% for p in procedimentos %}
                {'value': '{{ p.nome }}', 'label': '{{ p.nome }}'},
            {% endfor %}
        ];

        var doencas = [
            {% for d in doencas %}
                {'value': '{{ d.nome }}', 'label': 'Nome: {{ d.nome }}'},
                {'value': '{{ d.nome }}', 'label': 'CID: {{ d.cid }}'},
            {% endfor %}
        ];

        $(function() {
            function highlightText(text, $node) {
                var searchText = $.trim(text).toLowerCase(), currentNode = $node.get(0).firstChild, matchIndex, newTextNode, newSpanNode;
                while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
                    newTextNode = currentNode.splitText(matchIndex);
                    currentNode = newTextNode.splitText(searchText.length);
                    newSpanNode = document.createElement("span");
                    newSpanNode.className = "highlight";
                    currentNode.parentNode.insertBefore(newSpanNode, currentNode);
                    newSpanNode.appendChild(newTextNode);
                }
            }

            $(".proc_nome").autocomplete({
                source: procedimentos
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                var $a = $("<a></a>").text(item.label);
                highlightText(this.term, $a);
                return $("<li></li>").append($a).appendTo(ul);
            };

            $(".doenca_nome").autocomplete({
                source: doencas
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                var $a = $("<a></a>").text(item.label);
                highlightText(this.term, $a);
                return $("<li></li>").append($a).appendTo(ul);
            };

            $(".add_proc").click(function(){
                proc_count += 1;
                $("#proc_count").val(proc_count);
                $("#procedimento_div"+proc_count).fadeIn();
                $("#procedimento_div"+proc_count+"B").fadeIn();
                $(this).fadeOut()
            });

            $(".add_doenca").click(function(){
                doenca_count += 1;
                $("#doenca_count").val(doenca_count);
                $("#doenca_div"+doenca_count).fadeIn();
                $(this).fadeOut()
                alert("#doenca_div"+doenca_count)
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div id="content" class="colM">
        <h1>Novo atendimento</h1>
        <h3>Paciente: {{ paciente.nome }}</h3>
        <h3>CPF: {{ paciente.cpf }}</h3>
        <h3>RG: {{ paciente.rg }}</h3>
        <h3>Tipo sanguíneo: {{ paciente.tipo_sanguineo }}</h3>
        <div id="content-main">
            {% if doencas_ativas %}
                <table>
                    <tr>
                        <th colspan="6">
                            <a data-toggle="collapse" href="#doencas_ativas"><img width="24" height="auto" />Doenças ativas</a>
                        </th>
                    </tr>
                </table>
                <div id="doencas_ativas" class="panel-collapse collapse in">
                    <table>
                        <thead>
                        <tr>
                            <th>CID</th>
                            <th>Nome</th>
                            <th>Início</th>
                            <th>Crônica</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doenca_ativa in doencas_ativas %}
                            <tr>
                                <td>{{ doenca_ativa.doenca.cid }}</td>
                                <td>{{ doenca_ativa.doenca.nome }}</td>
                                <td>{{ doenca_ativa.inicio }}</td>
                                <td>{% if doenca_ativa.cronica %}Sim{% else %}Não{% endif %}</td>
                                <td>Curar!</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            <table>
                <tr>
                    <th colspan="6">
                        <a data-toggle="collapse" href="#diagnosticos"><img width="24" height="auto" />Diagnosticos</a>
                    </th>
                </tr>
            </table>
            <div id="diagnosticos" class="panel-collapse collapse">
                <table>
                    <thead>
                    <tr>
                        <th>CID</th>
                        <th>Nome</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th>Crônica</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doenca_curada in doencas_curadas %}
                        <tr>
                            <td>{{ doenca_curada.doenca.cid }}</td>
                            <td>{{ doenca_curada.doenca.nome }}</td>
                            <td>{{ doenca_curada.inicio }}</td>
                            <td>{{ doenca_curada.fim }}</td>
                            <td>{% if doenca_curada.cronica %}Sim{% else %}Não{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <form id="principal" method="POST">{% csrf_token %}
                <input type="hidden" id="proc_count" name="proc_count" value="{{ proc_count }}" />
                <input type="hidden" id="doenca_count" name="doenca_count" value="{{ doenca_count }}" />
                <div>
                    <fieldset class="module aligned wide">
                        {% for diagnosticada in diagnosticadas %}
                            <div class="form-row" id="doenca_div{{ forloop.counter }}" {% if forloop.counter > doenca_count %}style="display: none;"{% endif %}>
                                {{ diagnosticada.doenca_nome.errors }}
                                {{ diagnosticada.doenca_nome.label_tag }} {{ diagnosticada.doenca_nome }}
                                {% if forloop.counter >= doenca_count %}<a class="add_doenca">mais</a>{% endif %}
                                {% if diagnosticada.doenca_nome.help_text %}
                                <p class="help">{{ diagnosticada.doenca_nome.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for solicita in solicitacoes %}
                            <div class="form-row" id="procedimento_div{{ forloop.counter }}" {% if forloop.counter > proc_count %}style="display: none;"{% endif %}>
                                {{ solicita.procedimento_nome.errors }}
                                {{ solicita.procedimento_nome.label_tag }} {{ solicita.procedimento_nome }}
                                {% if forloop.counter >= proc_count %}<a class="add_proc">mais</a>{% endif %}
                                {% if solicita.procedimento_nome.help_text %}
                                <p class="help">{{ solicita.procedimento_nome.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-row" id="procedimento_div{{ forloop.counter }}B" {% if forloop.counter > proc_count %}style="display: none;"{% endif %}>
                                {{ solicita.detalhes.errors }}
                                {{ solicita.detalhes.label_tag }} {{ solicita.detalhes }}
                                {% if solicita.detalhes.help_text %}
                                <p class="help">{{ solicita.detalhes.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for field in atendimento %}
                            <div class="form-row">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="Salvar" class="default" />
                    </div>
                </div>
            </form>
        </div>
        <br class="clear" />
    </div>
    <div id="footer"></div>
{% endblock %}

{% block footer %}
    <script>
        $(function() {
{#            Mudando o desenho de fechado pra aberto onde precisa.#}
            $( "div.collapse.in").each(function (){
                $('[href=#'+this.id+']').children('img').attr('src', '/static/imagem/aberto.png')
            })
            $( "div.collapse").not('.in').each(function (){
                $('[href=#'+this.id+']').children('img').attr('src', '/static/imagem/fechado.png')
            })
        });
    </script>
{% endblock %}