{% extends "base.html" %}
{% block title %} - Novo atendimento{% endblock %}

{% block jquery %}
    <script>
        var proc_count = {{ proc_count }};
        var doenca_count = {{ doenca_count }};

        var procedimentos = [
            {% for p in procedimentos %}
                {'value': '{{ p.nome }}', 'label': '{{ p.nome }}'},
            {% endfor %}
        ];

        var doencas = [
            {% for d in doencas %}
                {'value': '{{ d.nome }}', 'label': 'Nome: {{ d.nome }}'},
                {'value': '{{ d.nome }}', 'label': 'CID: {{ d.cid }}'},
            {% endfor %}
        ];

        $(function() {
            function highlightText(text, $node) {
                var searchText = $.trim(text).toLowerCase(), currentNode = $node.get(0).firstChild, matchIndex, newTextNode, newSpanNode;
                while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
                    newTextNode = currentNode.splitText(matchIndex);
                    currentNode = newTextNode.splitText(searchText.length);
                    newSpanNode = document.createElement("span");
                    newSpanNode.className = "highlight";
                    currentNode.parentNode.insertBefore(newSpanNode, currentNode);
                    newSpanNode.appendChild(newTextNode);
                }
            }

            $(".proc_nome").autocomplete({
                source: procedimentos
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                var $a = $("<a></a>").text(item.label);
                highlightText(this.term, $a);
                return $("<li></li>").append($a).appendTo(ul);
            };

            $(".doenca_nome").autocomplete({
                source: doencas
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                var $a = $("<a></a>").text(item.label);
                highlightText(this.term, $a);
                return $("<li></li>").append($a).appendTo(ul);
            };

            $(".add_proc").click(function(){
                proc_count += 1;
                $("#proc_count").val(proc_count);
                $("#procedimento_div"+proc_count).fadeIn();
                $("#procedimento_div"+proc_count+"B").fadeIn();
                $(this).fadeOut()
            });

            $(".add_doenca").click(function(){
                doenca_count += 1;
                $("#doenca_count").val(doenca_count);
                $("#doenca_div"+doenca_count).fadeIn();
                $(this).fadeOut()
                alert("#doenca_div"+doenca_count)
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div id="content" class="colM">
        <h1>Novo atendimento</h1>
        <div id="content-main">
            <form id="principal" method="POST">{% csrf_token %}
                <input type="hidden" id="proc_count" name="proc_count" value="{{ proc_count }}" />
                <input type="hidden" id="doenca_count" name="doenca_count" value="{{ doenca_count }}" />
                <div>
                    <fieldset class="module aligned wide">
                        {% for field in atendimento %}
                            <div class="form-row">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for diagnosticada in diagnosticadas %}
                            <div class="form-row" id="doenca_div{{ forloop.counter }}" {% if forloop.counter > doenca_count %}style="display: none;"{% endif %}>
                                {{ diagnosticada.doenca_nome.errors }}
                                {{ diagnosticada.doenca_nome.label_tag }} {{ diagnosticada.doenca_nome }}
                                {% if forloop.counter >= doenca_count %}<a class="add_doenca">mais</a>{% endif %}
                                {% if diagnosticada.doenca_nome.help_text %}
                                <p class="help">{{ diagnosticada.doenca_nome.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for solicita in solicitacoes %}
                            <div class="form-row" id="procedimento_div{{ forloop.counter }}" {% if forloop.counter > proc_count %}style="display: none;"{% endif %}>
                                {{ solicita.procedimento_nome.errors }}
                                {{ solicita.procedimento_nome.label_tag }} {{ solicita.procedimento_nome }}
                                {% if forloop.counter >= proc_count %}<a class="add_proc">mais</a>{% endif %}
                                {% if solicita.procedimento_nome.help_text %}
                                <p class="help">{{ solicita.procedimento_nome.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-row" id="procedimento_div{{ forloop.counter }}B" {% if forloop.counter > proc_count %}style="display: none;"{% endif %}>
                                {{ solicita.detalhes.errors }}
                                {{ solicita.detalhes.label_tag }} {{ solicita.detalhes }}
                                {% if solicita.detalhes.help_text %}
                                <p class="help">{{ solicita.detalhes.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="Salvar" class="default" />
                    </div>
                    <script type="text/javascript">document.getElementById("id_atendimento-cpf").focus();</script>
                </div>
            </form>
        </div>
        <br class="clear" />
    </div>
    <div id="footer"></div>
{% endblock %}